
  <div id="banner{{ module }}" class="hidden-xs">
    {% for banner in banners %}
     {% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="center-block img-responsive" /></a>
     {% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="center-block img-responsive" />{% endif %}
      {% endfor %}
  </div>

<script type="text/javascript"><!--
$('#banner{{ module }}').swiper({
	effect: 'fade',
	autoplay: 2500,
    autoplayDisableOnInteraction: false
});
--></script> 